<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta id="username-error" th:content="#{username.error}">
    <meta id="password-error" th:content="#{password.error}">
    <meta id="frsc" th:content="${_csrf.token}">
    <meta id="lang" th:content="${#locale.language}">
    <meta id="name-error" th:content="#{name.error}">
    <meta id="surname-error" th:content="#{surname.error}">
    <meta id="birth-date-error" th:content="#{birth.date.error}">
    <meta id="biography-error" th:content="#{biography.error}">
    <meta id="image-error" th:content="#{image.error}">

    <title th:text="#{login}">Login</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/bootstrap-3.0.0/dist/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/resources/css/style.css}" rel="stylesheet">
    <link th:href="@{/resources/css/search-style.css}" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic'
          rel='stylesheet' type='text/css'>

    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link th:href="@{/resources/js/swiperjs/idangerous.swiper.css}" rel="stylesheet">
    <link th:href="@{/resources/js/big-video/css/bigvideo.css}" rel="stylesheet">

</head>

<body id="body">
<!-- BEGIN top bar -->

<header class="top-bar" style="height: 45px">
    <div class="full-width-info left">
        <img width="30px" height="30px" th:src="@{/resources/images/users/{img}(img = ${user.imgUrl})}"><span th:text="${user.name} + ' ' + ${user.surname} + './'">name surname /</span>
    </div>
    <div class="full-width-info right">
        <!--<a href="#">Login </a>/ <a href="#">Subscribe </a>/ <a href="#">Checkout</a>--></div>
    <div class="center-info">
        <div class="bg-player">
            <a th:if="${#strings.equals(#locale.language,'en')}"
               class="player-button">
                <img th:src="@{/resources/icons/great-britain.png}">
            </a>
            <a th:unless="${#strings.equals(#locale.language,'en')}"
               class="player-button" th:href="@{${#request.getRequestURI()}(lang = 'en')}">
                <img th:src="@{/resources/icons/great-britain.png}">
            </a>
            <a th:if="${#strings.equals(#locale.language,'ru')}"
               class="player-button">
                <img th:src="@{/resources/icons/russia.png}">
            </a>
            <a th:unless="${#strings.equals(#locale.language,'ru')}"
               class="player-button" th:href="@{${#request.getRequestURI()}(lang = 'ru')}">
                <img th:src="@{/resources/icons/russia.png}">
            </a>
            <a th:if="${#strings.equals(#locale.language,'arm')}"
               class="player-button">
                <img th:src="@{/resources/icons/armenia.png}">
            </a>
            <a th:unless="${#strings.equals(#locale.language,'arm')}"
               class="player-button" th:href="@{${#request.getRequestURI()}(lang = 'arm')}">
                <img th:src="@{/resources/icons/armenia.png}">
            </a>
        </div>
    </div>
</header>
<!-- END top bar -->

<!-- BEGIN banner area -->

<div class="top-banner-area">
    <a href="/"><img th:src="@{/resources/images/logo.png}" alt="Logo"></a>
    <div class="event-counter bbox-countdown-timer">
    </div>
</div>

<div class="content-wrap">
    <div class="main-container">
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/"><i class="icon-home"></i><span th:text="#{home}">Home</span></a>
                    </li>
                    <li class="subnav">
                        <a style="cursor: pointer" th:text="#{news}">News</a>
                        <ul>
                            <li>
                                <a th:href="@{/admin/news/add}" th:text="#{news.add}">add news</a>
                            </li>
                            <li>
                                <a th:href="@{/news}" th:text="#{all.news}">all news</a>
                            </li>
                        </ul>
                    </li>
                    <li class="subnav current-item">
                        <a style="cursor: pointer" th:text="#{music}">Music</a>
                        <ul>
                            <li class="current-item">
                                <a th:href="@{/admin/musician/add}" th:text="#{add.musician}">add musicians</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/musician/add}" th:text="#{add.album}">add album</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/music/add}" th:text="#{add.music}">add music</a>
                            </li>
                            <li>
                                <a th:href="@{/musicians}" th:text="#{musicians}">musicians</a>
                            </li>
                            <li>
                                <a th:href="@{/albums}" th:text="#{albums}">albums</a>
                            </li>
                            <li>
                                <a th:href="@{/music}" th:text="#{music}">music</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/admin/main/change}">Change Main page</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/category/add}" th:text="#{add.category}">Add category</a>
                    </li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input style="background: none;
                            border :none;position: relative;top: 20px;left: 10px;font-weight:700;font-size: 18px;color: black" type="submit" th:value="#{logout}">
                        </form>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- BEGIN mobile nav -->

        <select class="bb-mobile-nav">
            <option>Item 1</option>
            <option>Item 2</option>
            <option>Item 3</option>
        </select>

        <!-- END mobile nav -->

        <span class="clear"></span>

        <!-- BEGIN page content -->

        <div class="row">

            <!-- BEGIN content -->

            <div class="col-md-8">
                <content>
                    <form method="post" th:action="@{/admin/musician/add}" id="musician-form"
                          class="bluebox-contact" th:object="${form}" enctype="multipart/form-data">
                        <div class="contact-form-inputs">
                            <div class="input-wrap-text input-name">
                                <span th:if="${#fields.hasErrors('name')}" id="nameError" style="color: red" th:text="#{name.error}"></span>
                                <span th:unless="${#fields.hasErrors('name')}" id="nameError" style="color: red"></span>
                                <input class="input musician-input" style="border:1px solid #357ebd" type="text" th:field="*{name}" th:placeholder="#{name}" id="name" data-default-label="Name *">
                            </div>
                            <div class="input-wrap-textarea input-message">
                                <span th:if="${#fields.hasErrors('surname')}" id="surnameError" style="color: red" th:text="#{surname.error}"></span>
                                <span th:unless="${#fields.hasErrors('surname')}" id="surnameError" style="color: red"></span>
                                <input class="input musician-input" style="border:1px solid #357ebd" type="text" th:field="*{surname}" th:placeholder="#{surname}" id="surname" data-default-label="Name *">
                            </div>
                            <div class="input-wrap-textarea input-message">
                                <span th:if="${#fields.hasErrors('birthDate')}" id="birthDateError" style="color: red" th:text="#{birth.date.error}"></span>
                                <span th:unless="${#fields.hasErrors('birthDate')}" id="birthDateError" style="color: red"></span>
                                <br/>
                                <label for="birthDate" th:text="#{birth.date}"></label>
                                <br/>
                                <input class="input musician-input" style="border:1px solid #357ebd" type="date" th:field="*{birthDate}" id="birthDate" data-default-label="Name *">
                            </div>
                            <br/>
                            <div class="input-wrap-textarea input-message">
                                <span th:if="${#fields.hasErrors('biography')}" id="biographyError" style="color: red" th:text="#{biography.error}"></span>
                                <span th:unless="${#fields.hasErrors('biography')}" id="biographyError" style="color: red"></span>
                                <textarea style="border:1px solid #357ebd" data-default-label="Message *" rows="6" class="news-input musician-input" id="biography" th:field="*{biography}" th:placeholder="#{biography}"></textarea>
                            </div>
                            <div class="input-wrap-text input-email">
                                <span id="imageError" style="color: red" th:if="${#fields.hasErrors('image')}" th:text="#{image.error}"></span>
                                <span id="imageError" style="color: red" th:unless="${#fields.hasErrors('image')}"></span>
                                <br/>
                                <input  type="file" th:field="*{image}" id="file" class="inputfile news-input" />
                                <label style="cursor: pointer" for="file" th:text="#{choose.photo}">Choose a photo</label><br/>
                            </div>
                        </div>
                        <div>
                            <input type="submit" class="default-button" data-title="Submit"
                                   data-action-title="Sending..." th:value="#{add}">
                        </div>
                    </form>
                </content>
            </div>
        </div>
        <span class="clear"></span>
    </div>
    <footer>
        <div class="row">
            <div class="col-md-4">
                <div class="bluebox-heading">
                    <h3 th:text="#{about.us}">About us</h3>
                </div>
                <span th:text="#{about.us.msg}">
                </span>
                <span class="clear"></span>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="bluebox-heading">
                    <h3 th:text="#{social}">Social</h3>
                </div>
                <div class="social-widget">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com">
                                <span><i class="icon-facebook"></i></span>
                                <span><i class="icon-facebook"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com">
                                <span><i class="icon-dribbble"></i></span>
                                <span><i class="icon-dribbble"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com">
                                <span><i class="icon-instagram"></i></span>
                                <span><i class="icon-instagram"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com">
                                <span><i class="icon-twitter"></i></span>
                                <span><i class="icon-twitter"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <span class="clear"></span>
            </div>
        </div>
    </footer>

    <div class="copyrights-content">
        M U S I C A L ____________ W O R L D
    </div>
</div>

<!-- END sticky player -->
<noscript th:text="#{no.script.msg}"></noscript>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/resources/bootstrap-3.0.0/assets/js/jquery.js}"></script>
<script th:src="@{/resources/bootstrap-3.0.0/dist/js/bootstrap.min.js}"></script>


<script type="text/javascript" th:src="@{/resources/js/jquery-1.10.2.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery-ui-1.10.3.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/custom.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jplayer/jquery.jplayer.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/swiperjs/idangerous.swiper.js}"></script>
<script th:src="@{/resources/js/modernizr-2.5.3.min.js}"></script>
<script th:src="@{/resources/js/imagesloaded.pkgd.js}"></script>
<script th:src="@{/resources/js/musical/admin.js}"></script>
<script th:src="@{/resources/js/musical/musician.js}"></script>
</body>
</html>
