<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true">
    <properties>
        <property name="path" value="D:/web/musical-world/log"/>
    </properties>

    <Appenders>
        <!--Console appender-->
        <Appender type="Console" name="logToConsole" >
            <Layout type="PatternLayout" pattern="%clr{%d{yyyy-MM-dd HH:mm:ss}}{faint} %clr{%level} %clr{}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%c{1}.%M}{cyan} %clr{:}{faint} %m%n%xwEx"/>
        </Appender>

        <!--System file appender-->
        <Appender type="RollingFile" name="logToSystemFile" fileName="${path}/system.txt" filePattern="${path}/system_%i.txt">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss} %level --- [%t] %c{1}.%M : %m%n%xwEx"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20Mb" />
            </Policies>
        </Appender>

        <!--Spring file appender-->
        <Appender type="RollingFile" name="logToSpringFile" fileName="${path}/spring.txt" filePattern="${path}/spring_%i.txt">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss} %level --- [%t] %c{1}.%M : %m%n%xwEx"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20Mb" />
            </Policies>
        </Appender>
    </Appenders>

    <Loggers>
        <!--System logger-->
        <Logger name="net.musicalWorld" level="all" additivity="false">
            <AppenderRef ref="logToConsole"/>
            <!--<AppenderRef ref="logToSystemFile"/>-->
        </Logger>
        <!--Root logger-->
        <Root level="info">
            <AppenderRef ref="logToConsole"/>
            <!--<AppenderRef ref="logToSpringFile"/>-->
        </Root>
    </Loggers>
</Configuration>